.OSBIbuttonContainer{
  /* border: solid red; */
  position: relative;
  overflow: hidden;
}

.OSBIbutton{
  width: 200px;
  height: 50px;
  border: none;
  background: linear-gradient(to right, rgb(24 38 45) 0%, rgba(35, 56, 66, 1) 100%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .218s;
  font-family: Montserrat;
  position: relative;
}

.OSBIbutton:active{
  scale: 0.95;
}

.OSBIfrostedBorder{
  /* border: solid 1px white; */
  width: 200px;
  height: 50px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.0);
  position: relative;
  backdrop-filter: blur(20px);
  z-index: 2;
}

.OSBIglow{
  width: 100px;
  height: 55px;
  background: radial-gradient(ellipse at center, rgba(0,255,255,1) 0%,rgba(0,140,255,1) 100%);
  position: absolute;
  transform: translate(20px 20px);
  z-index: 1;
  pointer-Events: none;
  transition: opacity .218s ease-in-out;
}