.OSBIloader {
  display: block;
  width: 200px;
  height: 0.5rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  --loader-color: linear-gradient(to right, rgb(0, 90, 173) 0%, rgb(0,140,255) 100%);
}

.OSBIloader::before {
  content: "";
  position: absolute;
  background: radial-gradient(ellipse at center,  0%, 100%);
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50%  { width: 100%;}
  100% { width: 0; right: 0; left: unset;}
}